<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/bookstore-dao.xml,
			/WEB-INF/bookstore-service.xml,
			/WEB-INF/bookstore-servlet.xml
		</param-value>
	</context-param>
	
		 <context-param>
  <param-name>contextConfigLoaction</param-name>
  <param-value>/WEB-INF/applicationContext.xml</param-value>
 </context-param>
	
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
  
 	   <!--pager -->
 <jsp-config>
 	 <taglib>
    <taglib-uri>
      http://jsptags.com/tags/navigation/pager
    </taglib-uri>
    <taglib-location>
      /WEB-INF/view/include/pager-taglib.tld
    </taglib-location>
  </taglib>
  
  </jsp-config>
 

 	
</web-app>
